VITE_APPWRITE_ENDPOINT=
VITE_APPWRITE_PROJECT_ID=
VITE_APPWRITE_DATABASE_ID=
VITE_APPWRITE_USERS_COLLECTION_ID=
VITE_APPWRITE_CLIENTS_COLLECTION_ID=
VITE_APPWRITE_SERVICES_COLLECTION_ID=
VITE_APPWRITE_BOOKINGS_COLLECTION_ID=
VITE_APPWRITE_PROPERTIES_COLLECTION_ID=
VITE_APPWRITE_LEADS_COLLECTION_ID=
VITE_APPWRITE_STORAGE_PROPERTY_IMAGES_BUCKET_ID=
VITE_APPWRITE_STORAGE_REPORTS_BUCKET_ID=
VITE_APPWRITE_FUNCTION_PRICING_ID=
VITE_APPWRITE_FUNCTION_STRIPE_CHECKOUT_ID=
VITE_APPWRITE_FUNCTION_STRIPE_WEBHOOK_ID=
VITE_STRIPE_PUBLISHABLE_KEY=
PUBLIC_SITE_URL=
APPWRITE_API_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
